<!DOCTYPE html>
<html>

<head>
    <title>Home -- SITV2.0</title>
    <meta charset="UTF-8">
    <link href='../css/font.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="icon" href="../img/icon.ico" type="image/ico" sizes="16x16">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/datatables.min.css" />
    <script type="text/javascript" charset="utf8" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="navbar-wagon">
        <!-- Logo -->
        <a href="#" class="navbar-wagon-brand">
            <img src="../img/icon.ico">
        </a>
        <!-- Right Navigation -->
        <div class="navbar-wagon-right hidden-xs hidden-sm">
            <!-- Profile picture and dropdown -->
            <div class="navbar-wagon-item">
                <div class="dropdown">
                    <img src="../img/user.png" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown" height="45" width="45">
                    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Dropdown appearing on mobile only -->
        <div class="navbar-wagon-item hidden-md hidden-lg">
            <div class="dropdown">
                <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
                <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <table id="example" class="display compact" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Subject</th>
                    <th>Assignee</th>
                    <th>Author</th>
                    <th>Created</th>
                    <th>Related</th>
                </tr>
            </thead>
            <tbody>
                <tr class="gradeX">
                    <td></td>
                    <td>Open</td>
                    <td>High</td>
                    <td>Work1</td>
                    <td class="center">Rohit</td>
                    <td class="center">Prem</td>
                    <td>5 Jan 2017 </td>
                    <td>Project Name</td>
                </tr>
                <tr class="gradeA">
                    <td></td>
                     <td>Open</td>
                    <td>High</td>
                    <td>Work1</td>
                    <td class="center">Rohit</td>
                    <td class="center">Prem</td>
                    <td>5 Jan 2017 </td>
                    <td>Project Name</td>
                </tr>
                <tr class="gradeA">
                    <td></td>
                     <td>Open</td>
                    <td>High</td>
                    <td>Work1</td>
                    <td class="center">Rohit</td>
                    <td class="center">Prem</td>
                    <td>5 Jan 2017 </td>
                    <td>Project Name</td>
                </tr>
                <tr class="gradeA">
                    <td></td>
                     <td>Open</td>
                    <td>High</td>
                    <td>Work1</td>
                    <td class="center">Rohit</td>
                    <td class="center">Prem</td>
                    <td>5 Jan 2017 </td>
                    <td>Project Name</td>
                </tr>
                <tr class="gradeA">
                    <td></td>
                     <td>Open</td>
                    <td>High</td>
                    <td>Work1</td>
                    <td class="center">Rohit</td>
                    <td class="center">Prem</td>
                    <td>5 Jan 2017 </td>
                    <td>Project Name</td>
                </tr>
                <tr class="gradeA">
                    <td></td>
                     <td>Open</td>
                    <td>High</td>
                    <td>Work1</td>
                    <td class="center">Rohit</td>
                    <td class="center">Prem</td>
                    <td>5 Jan 2017 </td>
                    <td>Project Name</td>
                </tr>
                <tr class="gradeA">
                    <td></td>
                     <td>Open</td>
                    <td>High</td>
                    <td>Work1</td>
                    <td class="center">Rohit</td>
                    <td class="center">Prem</td>
                    <td>5 Jan 2017 </td>
                    <td>Project Name</td>
                </tr>
                <tr class="gradeA">
                    <td></td>
                     <td>Open</td>
                    <td>High</td>
                    <td>Work1</td>
                    <td class="center">Rohit</td>
                    <td class="center">Prem</td>
                    <td>5 Jan 2017 </td>
                    <td>Project Name</td>
                </tr>
                <tr class="gradeA">
                    <td></td>
                    <td>Open</td>
                    <td>High</td>
                    <td>Work1</td>
                    <td class="center">Rohit</td>
                    <td class="center">Prem</td>
                    <td>5 Jan 2017 </td>
                    <td>Project Name</td>
                </tr>
                <tr class="gradeA">
                    <td></td>
                     <td>Open</td>
                    <td>High</td>
                    <td>Work1</td>
                    <td class="center">Rohit</td>
                    <td class="center">Prem</td>
                    <td>5 Jan 2017 </td>
                    <td>Project Name</td>
                </tr>
                <tr class="gradeA">
                    <td></td>
                     <td>Closed</td>
                    <td>High</td>
                    <td>Work1</td>
                    <td class="center">Rohit</td>
                    <td class="center">Prem</td>
                    <td>5 Jan 2017 </td>
                    <td>Project Name</td>
                </tr>
                <tr class="gradeA">
                    <td></td>
                     <td>Closed</td>
                    <td>High</td>
                    <td>Work1</td>
                    <td class="center">Rohit</td>
                    <td class="center">Prem</td>
                    <td>5 Jan 2017 </td>
                    <td>Project Name</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>SN</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Subject</th>
                    <th>Assignee</th>
                    <th>Author</th>
                    <th>Created</th>
                    <th>Related</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <script type="text/javascript" src="../js/datatables.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        var table = $('#example').DataTable();

        $('#example tbody').on('click', 'tr', function() {
            alert('Row index: ' + table.row(this).index());
        });
        table.on('order.dt search.dt', function() {
            table.column(0, {
                search: 'applied',
                order: 'applied'
            }).nodes().each(function(cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();
    });;
    </script>
    <script type="text/javascript">
    $('#example').addClass('table compact table-striped');
    </script>
</body>

</html>
